// @import "mobile";

$orange : #fa4a0c;
$blue: #252b42;
$gray: #8a8a8a;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: white;
    height: 380vh;
}

button{
    background-color: transparent;
    padding: 2%;
    border-radius: 2em;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 2%;
    width: 23%;
    &.playstore
    {
        background-color: $orange;
        border: none;
    }
    &.appstore{
        border: 1px solid white; 
    }
}

p{
    font-weight: bold;
}

h1{
    font-size: 5em;
}

@mixin tailles_header_and_footer{
    height: 3.8%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header{
    @include tailles_header_and_footer();
    nav{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: black;
        &[href="home"]{
            color: $orange;
        }
    }
    img{
        padding: 1%;
    }
}

footer{
    @include tailles_header_and_footer();
    align-items: center;
    img{
        padding: 1%;
    }
    .icons{
        display: flex;
        img{
            margin: 0 10%;
        }
    }
    small{
        color: $gray;
        font-weight: bold;
    }
}

.first{
    height: 20%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("food.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p{
        font-size: 2em;
    }
    .text{
        font-weight: normal;
    }
    *{
        margin:1.5%;
    }
    .buttons{
        width: 50%;
    }
}

.second{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
   
    img{
        top: -45%;
        position: absolute;
    }
}

.third{
    height: 26.2%;
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    h2{
        color: rgb(78, 74, 74);
        font-size: 3.3em;
    }
    .div1{
        display: flex;
        margin-top: -5%;
    }
    .div2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        *{
            margin: 2% 0;
        }
        h2{
            color: $blue;
        }
    }
    img{
        width: 50%;
    }
    p{
        font-size: 2em;
        font-weight: normal;
        color: $gray;
    }
    .p1{
        font-weight: bold;
        color: $orange;
        font-size: 2em;
    }
    hr{
        padding: 0.1em;
        position: absolute;
        background-color: rgba(204, 198, 198, 0.5);
        width: 70%;
        top: -10%;
        border: none;      
        margin-left: 15%;  
    }
}

.fourth{
    height: 26.2%;
    width: 80%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
        h2{
        color: black;
        font-size: 3.3em;
    }
    p{
        font-size: 2em;
        font-weight: normal;
        color: $gray;
    }
    .p1{
        font-weight: bold;
        color: $orange;
        font-size: 2em;
    }
    .div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        text-align: start;
        *{
            margin: 2% 0 2% 10%;
        }
        h2{
            color: $blue;
        }
    }
    img{
        height: 100vh;
    }
}

@media (max-width:1200px) {
    h1{
        font-size: 3em; 
    }
    button{
        width: 35%;
    }
    .second img{
        margin-top: -10%;
        width: 80%;
    }
    .first p{
        font-size: 1.5em;
    }

    .first{
        *{
            margin:2.5%;
        }
    }
   .third, .fourth{
       h2{
           font-size: 2.5em;
       }
   }
    footer{
        margin: 0;
        width: 100%;
        img{
            padding: 1%;
        }
        .icons{
            img{
                margin: 0 5%;
            }
        }
    }

}

@media (max-width:750px) {
    nav{
        background-color: red;
    }
}
// @media (max-width:600px) {
//     body{
//         overflow-x: hidden
//     }
//     header{
//         @include tailles_header_and_footer();
//         width: 90%;
//         margin: auto;
//         nav{
//             display: none;
//         }
//         img{
//             padding: 3%;
//             width: 40%;
//         }
//     } 
//     .first{
//         height: 18%;
//         padding-top: 5%;
//         background:none;
//         h1{
//             font-size: 3rem;
//             color: $blue;
            
//         }
//         p{
//             font-size: 1rem;
//             color: $gray;
//         }
//         .text{
//             font-weight: normal;
//             font-size: 2rem;
//         }
//         *{
//             margin:3%;
//         }
//         .buttons{
//             display: flex;
//             flex-direction: column;
//             text-align: center;
//             height: 20vh;
//             justify-content: space-around;
//         }
//         button{
//             background-color: transparent;
//             padding: 8%;
//             border-radius: 2rem;
//             color: white;
//             font-weight: bold;
//             font-size: 1.4rem;
//             margin: 0 2%;
//             width: 100%;
//             &.playstore
//             {
//                 background-color: $orange;
//                 border: none;
//             }
//             &.appstore{
//                 border: 1px solid $orange; 
//                 color: $orange;
//             }
//         }
//     }
//     .second{
//         height: 18%;
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin: auto;
//         hr{
//             padding: 0.1rem;
//             width: 100%;
//             border: none;
//         }
//         img{
//             width: 100%;
//         }
//     }
//     .third{
//         height: 28.2%;
//         text-align: center;
//         h2{
//             color: rgb(78, 74, 74);
//             font-size: 2rem;
//             margin-top: -15%;
//             font-size: normal;
//         }
//         .div1{
//             margin-top: 10%;
//             display: flex;
//             flex-direction: column-reverse;
//         }
//         .div2{
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             text-align: center;
//             *{
//                 margin: 5% 0;
//             }
//             h2{
//                 color: $blue;
//                 font-size: 3rem;
//             }
//         }
//         img{
//             margin-top: -20%;
//             height: 80vh;
//             width: 100vw;
//         }
//         p{
//             font-size: 2rem;
//             font-weight: normal;
//             color: $gray;
//         }
//         .p1{
//             font-weight: bold;
//             color: $orange;
//             font-size: 2rem;
//         }
//     }
//     .fourth{
//         height: 28.2%;
//         width: 100%;
//         margin: auto;
//         display: flex;
//         flex-direction: column;
//         h2{
//             color: black;
//             font-size: 3.3rem;
//         }
//         p{
//             font-size: 2rem;
//             font-weight: normal;
//             color: $gray;
//         }
//         .p1{
//             font-weight: bold;
//             color: $orange;
//             font-size: 2rem;
//         }
//         .div1{
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             flex: 1;
//             text-align: start;
//             *{
//                 margin: 2% 0 2% 10%;
//             }
//             h2{
//                 color: $blue;
//             }
//         }
//         img{
//             height: 100vh;
//         }
//     }
// }

