$orange : #fa4a0c;
$blue: #252b42;
$gray: #8a8a8a;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html{
    font-size: 62.5%;
}

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, sans-serif;
    height: 380vh;
}

header{
    height: 3%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 50%;
    grid-gap: 35%;
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            font-size: 1.7rem;
        }
        [href="#home"]{
            color: $orange;
        }
    }
    .my_burger, label{
        display: none;
    }
}

.first{
    height: 20%;
    padding: 3%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/food.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 10% 35% 15% 20% ;
    grid-gap: 0.2em;
    justify-content: center;
    text-align: center;
    color: white;
    p{
        font-size: 3rem;
    }
    h4{
        font-size: 2rem;
    }
    h1{
        font-size: 7rem;
    }
    button{
        background-color: transparent;
        padding: 2.5%;
        border-radius: 2em;
        color: white;
        font-weight: bold;
        font-size: 2.3em;
        margin: 0 2%;
        width: 26%;
        &.playstore
        {
            background-color: $orange;
            border: none;
        }
        &.appstore{
            border: 1px solid white; 
        }
    }
}

.second{
    text-align: center;
    height: 18%;
    img{
        margin-top: -22%;
        margin-left: -10%;
        width: 50%;
    }
}

.third{
    height: 29%;
    width: 80%;
    margin: auto;
    hr{
        padding: 0.2em;
        background-color: rgba(204, 198, 198, 0.5);
        width: 60%;
        border: none;      
        margin-left: 20%;  
    } 
    h2{
        padding: 1em 0;
        text-align: center;
        font-size: 5rem;
        color: $blue;
    }
    .div1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        p{
            color: $gray;
        }
        h2{
            color: $blue;
        }
        .p1{
            color: $orange;
        }
    }
    .div2{
        display: grid;
        grid-template-rows: 1% 20% 10%;
        grid-gap: 2em;
        align-content: center;
        h2{
            text-align: start;
        }
        p{
            font-size: 3rem;
        }
        .p1{
            font-weight: bold;
        }
    }
    img{
        width: 100%;
    }
}

.fourth{
    height: 29%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .div1{
        display: grid;
        grid-template-rows: 5% 13% 10%;
        grid-gap: 2em;
        align-content: center;
        h2{
            text-align: start;
            color: $blue;
            font-size: 5rem;
        }
        p{
            font-size: 3rem;
            color: $gray;
        }
        .p1{
            font-weight: bold;
            color: $orange;
        }
    }
    img{
        width: 100%;
    }
}
footer{
    height: 3%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10%;
    align-items: center;
    small{
        color: $gray;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .icons{
        display: grid;
        align-items: center;
        grid-template-columns: 10% 10% 10%;
        grid-gap: 3% ;
    }
    .small2{
        display: none;
    }
}

@import "_mobile";